
{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('music') }}
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-uppercase text-center mb-5"> Create an account</h2>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form>

                            <div class="mb-3">
                                {{ form_label(registrationForm.email) }}
                                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(registrationForm.email) }}
                            </div>

                            <div class="mb-3">
                                {{ form_label(registrationForm.username) }}
                                {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(registrationForm.username) }}
                            </div>

                            <div class="mb-3">
                                {{ form_label(registrationForm.plainPassword, 'Password') }}
                                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(registrationForm.plainPassword) }}
                            </div>

                            <div class="mb-3 form-check">
                                {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                                {{ form_label(registrationForm.agreeTerms, 'I agree to the terms and conditions', {'label_attr': {'class': 'form-check-label'}}) }}
                                {{ form_errors(registrationForm.agreeTerms) }}
                            </div>

                            <button type="submit" class="btn btn-primary">Register</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

