{% extends 'base.html.twig' %}

{% block title %}Music index{% endblock %}

{% block stylesheets %}
                {{parent()}}
                {{ encore_entry_link_tags('music') }}    
{% endblock %}

{% block body %}
    <h1 class="mb-4 mt-3 "> Musics </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Release_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for music in music %}
            <tr>
                <td>{{ music.id }}</td>
                <td>{{ music.name }}</td>
                <td>{{ music.releaseDate ? music.releaseDate|date('Y-m-d H:i:s') : '' }}</td>
            
                <td>
                    <a href="{{ path('app_music_show', {'id': music.id}) }}" class="btn btn-primary btn-sm mr-2" > show</a>
                    {% if is_granted ('ROLE_ADMIN') %}
                    <a href="{{ path('app_music_edit', {'id': music.id}) }}" class="btn btn-secondary btn-sm" > edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Error</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted ('ROLE_ADMIN') %}
    <a href="{{ path('app_music_new') }}" class="btn btn-success">Create new</a>
    {% endif %}
{% endblock %}
